.about-us-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  list-style: none;

  &__icon-box {
    background-color: var(--background-color-3);
    padding-block: 25px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &__article {
    color: var(--text-color-1);
    font-size: 14px;
    line-height: 146%;
    letter-spacing: 0.03em;
    text-align: left;
  }
}
