.background-image {
  background-color: var(--background-color-2);
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../images/background-imgmob.jpg);
  background-position: 50% 50%;
  background-size: cover;

  &--position {
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(#2f303a66, #2f303a66),
      url(../images/background-imgmob@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(#2f303a66, #2f303a66),
      url(../images/background-imgtab.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(#2f303a66, #2f303a66),
        url(../images/background-imgtab@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    background-image: linear-gradient(#2f303a66, #2f303a66),
      url(../images/background-imgdesk.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      max-width: 1600px;
      background-image: linear-gradient(#2f303a66, #2f303a66),
        url(../images/background-imgdesk@2x.jpg);
    }
  }
}
