.banner {
  display: flex;
  flex-direction: column;
  max-width: 696px;
  align-items: center;
  padding-block: 200px;
  padding-left: auto;
  padding-right: auto;

  &__header {
    color: var(--text-color-2);
    font-size: 44px;
    line-height: 116%;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 30px;
  }
}

.banner__button {
  background-color: var(--background-color-3);
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.06em;
  text-align: center;
  border-width: 0px;
  cursor: pointer;
  border-radius: 4px;
  padding-block: 10px;
  padding-left: 41px;
  padding-right: 41px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-and-button-color);
    color: var(--text-color-2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
