.fieldset {
  position: relative;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:has(input:focus) {
    border-color: var(--hover-and-button-color);
  }

  &__label {
    position: absolute;
    top: -20px;
    left: -1px;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--text-color-1);
  }
}

.fieldset__icon {
  fill: inherit;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 12px;

  .fieldset:has(input:focus) & {
    fill: var(--hover-and-button-color);
  }
}

.fieldset__input {
  border: 0;
  background-color: transparent;

  &:focus {
    outline: 0;
  }

  &--coment {
    width: 414px;
    height: 96px;
    resize: none;
    padding: 0;

    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &--footer {
    width: 324px;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--text-color-2);

    &::placeholder {
      color: #ffffff99;
    }
  }
}
