.mobile-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--background-color-1);
  z-index: 999;
  color: #212121;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: inherit;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--hover-and-button-color);
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__navigation-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__navigation-link {
    display: block;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 32px;

    &:hover,
    &:focus {
      color: var(--hover-and-button-color);
    }
  }

  &__contacts-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 306px;
  }

  &__phone {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--text-color-1);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--hover-and-button-color);
    }
  }

  &__mail {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--text-color-1);
    margin-top: 32px;
    margin-bottom: 64px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--hover-and-button-color);
    }
  }

  &__socials {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  &__social {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    margin-right: 10px;

    &--no-border {
      border: none;
    }
  }

  &__social-link {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--text-color-1);

    &:hover,
    &:focus {
      color: var(--hover-and-button-color);
    }
  }
}
