.modal {
  width: 448px;
  height: 501px;
  background-color: var(--background-color-1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 40px;

  &--position {
    margin: auto;
  }

  &__close-button {
    background-color: var(--background-color-1);
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
  }

  &__fieldset {
    border: 1px solid #21212133;
    padding-block: 11px;
    padding-left: 12px;
    margin-bottom: 28px;

    &--coment-box {
      padding: 12px 16px;
      margin-bottom: 20px;
    }
  }
  &__checkbox-label {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--text-color-1);
    position: relative;
    padding-left: 37px;
    cursor: pointer;
  }

  &__terms-checkbox {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.modal__checkbox-icon {
  position: absolute;
  display: block;
  left: 14px;
  top: 0;
  padding: 0;
  fill: var(--text-color-2);
  background-color: var(--background-color-1);
  border: 1px solid #212121;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__checkbox-label input:checked ~ & {
    border-color: var(--hover-and-button-color);
    background-color: var(--hover-and-button-color);
  }
}

.modal__submit {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  padding-block: 10px;
  padding-left: 76px;
  padding-right: 76px;
  color: var(--text-color-1);
  border: 0;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-and-button-color);
    color: var(--text-color-2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
