.portfolio {
  background-color: var(--background-color-1);

  &__filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
    list-style: none;
  }

  &__card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
  }

  &__project-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 171%;
    letter-spacing: 0.06em;
    text-align: left;
    margin-bottom: 4px;
    padding-top: 20px;
    padding-left: 24px;
  }

  &__project-type {
    color: var(--text-color-1);
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-align: left;
    padding-left: 24px;
    padding-bottom: 20px;
  }

  &__border-wrapper {
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }

  &__overlay-box {
    position: relative;
    overflow: hidden;
  }

  &__overlay-text {
    color: var(--text-color-2);
    padding-left: 24px;
    padding-right: 45px;
    padding-block: 49px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
}

.portfolio__filter {
  background-color: var(--background-color-3);
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 139%;
  letter-spacing: 0.03em;
  text-align: center;
  border-width: 0px;
  border-radius: 4px;
  cursor: pointer;
  padding-block: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-and-button-color);
    color: var(--text-color-2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__item:hover & {
    transform: translateY(0);
  }
}
