.team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  list-style: none;

  &__item {
    background-color: var(--background-color-1);
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__position {
    color: var(--text-color-1);
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    list-style: none;
  }
}
.team-list__social-icon {
  background-color: var(--background-color-1);
  border-radius: 50%;
  max-width: 44px;
  max-height: 44px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--hover-and-button-color);
    fill: var(--text-color-2);
  }
}
