.title-secondary {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 10px;

  &--centered {
    @media screen and (min-width: 480px) and (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }

  &--white {
    color: var(--text-color-2);
    text-transform: uppercase;
    padding-top: 12px;
    margin-bottom: 20px;
  }
}
