:root {
  --background-color-1: #ffffff;
  --background-color-2: #2f303a;
  --background-color-3: #f5f4fa;
  --text-color-1: #757575;
  --text-color-2: #ffffff;
  --hover-and-button-color: #2196f3;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
}
